@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: color-palette.$blue-800,
  $secondary: color-palette.$blue-200,
  $surface: #fff,
  $background: color-palette.$grey-300,
  $error: color-palette.$red-900
);

@use 'typography';
@use 'color-variants';

html,
body {
  background-color: theme.$background;
  color: theme.$on-surface;
  margin: 0;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
