@use '@material/theme/color-palette';
@use '@material/top-app-bar';
@use '@material/button';

$color: color-palette.$blue-300 !default;
$color-error: $color !default;

.mdc-top-app-bar.variant {
    @include top-app-bar.fill-color-accessible($color);
}

.mdc-button.red {
    @include button.filled-accessible($color-error);
}

.error {
  color: $color-error;
}